{% extends 'base.html' %} {% block title %} {{title}} {% endblock title %}
<!---->
{%block navbar %} {% include 'navbar.html' %} {% endblock navbar %}
<!---->
{% block content %}
<div class="container d-flex justify-content-center">
  {% if user.profile.avatar %}
  <img
    class="img-thumbnail"
    src="{{user.profile.avatar.url}}"
    alt=""
    style="height: 200px; width: 200px"
  />
  {% else %}
  <img
    class="img-thumbnail"
    src="media/avatars/default.jpg"
    alt=""
    style="height: 200px; width: 200px"
  />
  {% endif %}
</div>
<div class="container m-2 w-100 text-center">
  <p>Name : {{user.username}}</p>
  <p>Weight : {{user.profile.weight}}</p>
  <p>Height : {{user.profile.height}}</p>
  <p>Weight : {{user.profile.bmi}}</p>
  <p>Non Veg :{{user.profile.non_veg}}</p>
  <p>Goal :{{user.profile.calorie_goal}}</p>
  <button type="button" class="btn btn-outline-dark">
    <a href="{%url 'authentication:update'  %}">Update Profile</a>
  </button>
</div>
{% endblock content %}
