{% extends 'base.html' %} {% block title %} {{title}} {% endblock title %}
<!---->
{% block navbar %} {% include 'navbar.html' %} {% endblock navbar %}
<!---->
{% block content %}
<div class="container mt-5 d-flex flex-column justify-content-between">
  <div class="'container text-center">
    {% if user.profile.calorie_goal %}
    <h2>Your Calorie Goals is : {{user.profile.calorie_goal}}</h2>
    {% else %}
    <h2>You have no Goal set</h2>
    {% endif %}
  </div>
  <div class="container text-center">
    <form class="d-inline-flex" method="POST">
      {% csrf_token %}
      <div class="form-group">{{form}}</div>
      <button type="submit" class="btn btn-secondary btn-sm">Change</button>
    </form>
  </div>
</div>
<div class="container mt-5 d-flex flex-column">
  <div class="container text-center">
    <h3>Your plan diet</h3>
  </div>
  <div class="container">
      {% for row in table %}
    <ul class="list-group">
      <li
        class="list-group-item d-flex justify-content-between align-items-center"
      >
        <span class="badge badge-primary badge-pill">{{row.type}}</span>
        <span class="badge badge-primary badge-pill">{{row.quantity}}</span>
      </li>
      {% for ing in row.ingredients %}
      <li class="badge badge-primary badge-pill"></li>
        <p>{{ing}}</p>
      </li>
      {% endfor %}
    </ul>
    {% endfor %}
  </div>
</div>
{% endblock content %}
