{% extends 'base.html' %} {% block title %} {{title}} {% endblock title %}
<!---->
{%block navbar %} {% include 'navbar.html' %} {% endblock navbar %}
<!---->
{% block content %}
<div class="container mt-5 d-flex flex-column">
  <div class="container text-center">
    <h2>Total Calorie Consumed : {{user.profile.get_total_calorie}}</h2>
    <form method="POST">
      {% csrf_token %} {{form}}
      <button type="submit">Eat</button>
    </form>
  </div>
  <div class="container text-center">
    <ul class="list-group">
      {% for food in consumed %}
      <li
        class="list-group-item d-flex justify-content-between align-items-center"
      >
        <span class="badge badge-primary badge">{{food.get_name}}</span>
        <span class=""><b>-------------------</b></span>
        <span class="badge badge-primary badge"
          >{{food.get_calorie}} Calorie</span
        >
        <form action="{% url 'features:remove' food.id %}" method="POST">
          {% csrf_token %}
          <button type="submit">Remove</button>
        </form>
        {% endfor %}
      </li>
    </ul>
  </div>
</div>
{% endblock content %}
